# fly.toml app configuration file generated for medical-college on 2025-01-06T17:51:02+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'medical-college'
primary_region = 'fra'
console_command = 'php /var/www/html/artisan tinker'

[build]
  [build.args]
    NODE_VERSION = '18'
    PHP_VERSION = '8.4'

[mounts]
  source="storage_vol"
  destination="/var/www/html/storage"

[env]
  APP_ENV = 'production'
  LOG_CHANNEL = 'stderr'
  LOG_LEVEL = 'info'
  LOG_STDERR_FORMATTER = 'Monolog\Formatter\JsonFormatter'
  SESSION_DRIVER = 'cookie'
  SESSION_SECURE_COOKIE = 'true'
  APP_URL = 'https://medical-college.fly.dev'
  APP_NAME = 'نظام مسارات كلية الطب'
  APP_LOCALE = 'ar'
  APP_FALLBACK_LOCALE = 'ar'
  APP_FAKER_LOCALE = 'ar_SA'
  DB_CONNECTION="sqlite"
  DB_DATABASE="/var/www/html/storage/database/database.sqlite"
  QUEUE_CONNECTION="database"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = "512mb"
  size = 'shared-cpu-2x'
